:root {
    --main-color: #423636;
    --border-color: #33cc02;
    --border-color-hover: #175901;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #F8F9FA;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.box {
    padding: 10px 0;
}

.num {
    color: var(--main-color);
    position: relative;
}

.num label {
    display: block;
    position: absolute;
    top: 0px;
    left: 15px;
    padding: 0 10px;
    background-color: #fff;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
}

input {
    width: 400px;
    height: 60px;
    border: 1px solid var(--border-color);
    color: var(--main-color);
    background: #fff;
    text-align: right;
    font: 30px bold;
    border-radius: 4px;
}

button {
    width: 250px;
    height: 50px;
    color: white;
    background: var(--border-color);
    text-align: center;
    font: 25px bold;
    border-radius: 4px;
}

button:hover {
    background: var(--border-color-hover);
    color: white;
    transition: 0.5s;
}

select {
    width: 200px;
    height: 40px;
    border: 1px solid var(--border-color);
    text-align: center;
    font: 30px bold;
    color: var(--main-color);
    border-radius: 4px;
    background: #fff;
}

.sel label {
    color: var(--main-color);
    background-color: #F8F9FA;
    margin-right: 10px;
    font: 30px bold;
}

input:focus,
select:focus {
    border: 2px solid var(--border-color);
    outline: none;
}

#round {
    font-size: 20px;
    margin: 10px 0 0 0;
    text-align: center;
}

.zero,
#warning {
    color: #F8F9FA;
}

.warning {
    border: 2px solid red;
    outline: none;
}

#warning.message_warning {
    color: red;
}